<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                View Contact 
            </p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore, facilis minima adipisci molestiae repellendus blanditiis, voluptatum voluptates fugiat obcaecati nihil officiis ad maxime aliquid libero veniam id aliquam possimus!
            </p>
        </div>
    </div>
</div>


<!--Loding-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!--Error-->
<div *ngIf="!loading && errorMessage" >
    <div class="container">
    <div class="row">
        <div class="col">
            <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        </div>
    </div>
</div>
</div> 



<!--Contact Details-->
<div class="container" *ngIf="!loading && isNotEmpty()">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img class="contact-img" [src]="contact.photo" alt="">

        </div>
        <div class="col-sm-6">

            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">{{contact.name}}</span></li>
                <li class="list-group-item list-group-item-danger">Email: <span class="fw-bold">{{contact.email}}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
                <li class="list-group-item list-group-item-danger">Company: <span class="fw-bold">{{contact.company}}</span></li>
                <li class="list-group-item list-group-item-danger">Title: <span class="fw-bold">{{contact.title}}</span></li>
                <li class="list-group-item list-group-item-danger">Group Name: <span class="fw-bold">{{group.name}}</span></li>
            </ul>
        </div>
        
        <div class="row mt-3">
            <div class="col">
                <a routerLink="/" class="btn btn-danger"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
            </div>
        </div>
    </div>

</div>