<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="/">

            <i class="fa fa-mobile"> NG Contacts Manger</i>
        </a>
    </div>
</nav>