<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Edit Contact 
            </p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore, facilis minima adipisci molestiae repellendus blanditiis, voluptatum voluptates fugiat obcaecati nihil officiis ad maxime aliquid libero veniam id aliquam possimus!
            </p>
        </div>
    </div>
</div>

<!--Create Contact Form -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (ngSubmit)="updateContact()">
                <div class="mb-2">
                    <input  [(ngModel)]="contact.name" name="name" type="text" class="form-control" [value]="contact.name" placeholder="name">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" name="photo" type="text" class="form-control" [value]="contact.photo" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.email" name="email" type="text" class="form-control" [value]="contact.email" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.mobile" name="mobile" type="number" class="form-control" [value]="contact.mobile" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.company" name="company" type="text" class="form-control" [value]="contact.company" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.title" type="text" name="title"  class="form-control" [value]="contact.title" placeholder="Title">
                </div>
                <div class="mb-2">
                   <select class="form-control" 
                   [(ngModel)]="contact.groupId"
                   [value]="contact.groupId"
                   name="groupId"
                   >
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                        
                   </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" type="submit" value="Update">
                    <a routerLink="/" class="btn btn-dark ms-2"> Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img" [src]="contact.photo" alt="">
        </div>
    </div>
</div>