<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">
                404! Page Not Found
            </p>
        </div>
    </div>
</div>