<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">
                Add Contact 
            </p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolore, facilis minima adipisci molestiae repellendus blanditiis, voluptatum voluptates fugiat obcaecati nihil officiis ad maxime aliquid libero veniam id aliquam possimus!
            </p>
        </div>
    </div>
</div>


<!--Loding-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!--Error-->
<div *ngIf="!loading && errorMessage" >
    <div class="container">
    <div class="row">
        <div class="col">
            <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        </div>
    </div>
</div>
</div> 


<!--Create Contact Form -->



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (ngSubmit)="createSubmit()">
                <div class="mb-2">
                    <input required="true"  [(ngModel)]="contact.name"  name="name" type="text" class="form-control" placeholder="name">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.photo" name="photo"  class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="text"  [(ngModel)]="contact.email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" [(ngModel)]="contact.mobile" name="mobile" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.company" name="company" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.title" name="title" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                   <select [(ngModel)]="contact.groupId" name="groupId" class="form-control" required="true">
                    <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups" >{{group.name}}</option>
                   </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" type="submit" value="Create">
                    <a routerLink="/" class="btn btn-dark ms-2"> Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img" [src]="contact.photo" alt="">
        </div>
    </div>
</div>